@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format(opentype);
    font-weight: normal;
}

:root {
    --cor0: #2D412F;
    --cor1: #396B3F;
    --cor2: #369641;
    --cor3: #26C038;
    --cor4: #07EA21;
    --cor5: #aaffe3;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: "Bebas Neue", serif;
    --fonte-android: 'Android', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor5);
    font-family:var(--fonte-padrao) ;
    text-align: justify;
}

p {
    margin: 15px 0px;
}

header {
    background-image: linear-gradient(to bottom, #26A55F, var(--cor0));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > p {
    color: white;
    text-shadow: 5px 2px 5px black;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;

}

header > h1 {
    color: var(--cor1);
    text-shadow: 5px 2px 5px black;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
}

nav {
    color: white;
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 2px 2px 3px black;

}

nav > a {
    color:#c7ffec;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor0);
}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    color: var(--cor1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    border-radius: 0px 0px 10px 10px;
    font-family: var(--fonte-android);
    
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main article {
    color: #3c573f
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor1);
    background-image: linear-gradient(to right, var(--cor5), transparent);
    text-indent: 5px;
}

main p {
    font-family: var(--fonte-padrao);
    color: black;
    text-indent: 30px;
    line-height: 1.5em
}

main a {
    background-color: #83d4a8;
    color: var(--cor0);
    font-weight: bold;
    text-decoration: none;
    padding: 1px 3px;
}

main a:hover {
    text-decoration: underline;
    color: black;
}

main strong {
    color: black;
    font-weight: bold;
    padding: 1px 3px;
}

div.video {
    background-color:#2D412F;
    margin: 20px -20px 30px -20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe {
    position:absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: #26A55F;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.336);
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2705\00A0';
    columns: 1;
    padding-left: 10px;
}

aside > p {
    text-align: justify;
    padding: 10px;
    padding-right: 15px;
}

aside > h3 {
    background-color: #2D412F;
    color: #ffffff;
    margin-left: -5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

footer {
    background-color: #2D412F;
    color: white;
    text-align: center;
    padding: 2px;
}

footer p {
    margin: 5px 0px;
}

footer > p > a {
    color: black;
    font-size: large;
    background-color:#83d4a8;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}